@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Sinh viên chú ý:</h1>
    <h2>- Sử dụng email HUMG để truy cập vào dự thi => Bạn nào quên mật khẩu thì cần lấy lại trước ngày thi</h2>
    <h2>- Địa điểm thi kết thúc học phần môn LẬP TRÌNH HƯỚNG ĐỐI TƯỢNG VỚI JAVA: Phòng máy tính tầng 5 nhà C 12 tầng</h2>
    <h2>- Ngày thi: 15/06/2023 và ngày 16/06/2023</h2>
</div>
<hr/>
<div class="row">
    <h3>@ViewBag.thongBao</h3>
    <form asp-action="Index">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-3">
                <div class="row w3-margin-bottom">
                    <label>Mã sinh viên:</label>
                    <input class="w3-input w3-border w3-round" required name="studentID" />
                </div>
                <div class="row w3-margin-bottom">
                    <label>Họ tên sinh viên:</label>
                    <input class="w3-input w3-border w3-round" required name="studentName" />
                </div>
                <div class="row">
                    <label>Nhóm môn học của bạn:</label>
                    <select class="form-select w3-large" name="subjectGroup">
                        <option value="1">Nhóm 01</option>
                        <option value="2">Nhóm 02</option>
                        <option value="3">Nhóm 03</option>
                        <option value="4">Nhóm 04</option>
                        <option value="5">Nhóm 05</option>
                        <option value="6">Nhóm 06</option>
                        <option value="7">Nhóm 07</option>
                        <option value="8">Nhóm 08</option>
                        <option value="9">Nhóm 09</option>
                        <option value="10">Nhóm 10</option>
                        <option value="11">Nhóm 11</option>
                        <option value="12">Nhóm 12</option>
                        <option value="13">Nhóm 13</option>
                        <option value="14">Nhóm 14</option>
                        <option value="15">Nhóm 15</option>
                        <option value="16">Nhóm 16</option>
                        <option value="17">Nhóm 17</option>
                        <option value="18">Nhóm 18</option>
                        <option value="19">Nhóm 19</option>
                        <option value="20">Nhóm 20</option>
                        <option value="21">Nhóm 21</option>
                        <option value="22">Nhóm 22</option>
                        <option value="23">Nhóm 23</option>
                        <option value="100">Nhóm 100</option>
                    </select>
                </div>
            </div>
            <br/>
            <div class="col-md-8">
                <div class="row">
                    <p class="w3-text-red w3-large">Chọn ca thi ngày 15/06:</p>
                </div>
                <div class="row w3-large">
                    <div class="col-md-6">
                        <div class="row w3-margin-bottom">
                            <input class="col-md-1" type="radio" name="caThi" value="Ca1">
                            <label class="col-md-11" for="html">Ca 1 (Thời gian: 8:00 AM - 8:50 AM ngày 15/06)</label> @ViewBag.ca1
                        </div>
                        <div class="row w3-margin-bottom">
                            <input class="col-md-1" type="radio" name="caThi" value="Ca2">
                            <label class="col-md-11" for="html">Ca 2 (Thời gian: 9:00 AM - 9:50 AM ngày 15/06)</label> @ViewBag.ca2
                        </div>
                        <div class="row w3-margin-bottom">
                            <input class="col-md-1" type="radio" name="caThi" value="Ca3">
                            <label class="col-md-11" for="html">Ca 3 (Thời gian: 10:00 AM - 10:50 AM ngày 15/06)</label> @ViewBag.ca3
                        </div>
                        <div class="row w3-margin-bottom">
                            <input class="col-md-1" type="radio" name="caThi" value="Ca4">
                            <label class="col-md-11" for="html">Ca 4 (Thời gian: 13:00 PM - 13:50 PM ngày 15/06)</label> @ViewBag.ca4
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row w3-margin-bottom">
                            <input class="col-md-1" type="radio" name="caThi" value="Ca5">
                            <label class="col-md-11" for="html">Ca 5 (Thời gian: 14:00 PM - 14:50 PM ngày 15/06)</label> @ViewBag.ca5
                        </div>
                        <div class="row w3-margin-bottom">
                            <input class="col-md-1" type="radio" name="caThi" value="Ca6">
                            <label class="col-md-11" for="html">Ca 6 (Thời gian: 15:00 PM - 15:50 PM ngày 15/06)</label> @ViewBag.ca6
                        </div>
                        <div class="row w3-margin-bottom">
                            <input class="col-md-1" type="radio" name="caThi" value="Ca7">
                            <label class="col-md-11" for="html">Ca 7 (Thời gian: 16:00 PM - 16:50 PM ngày 15/06)</label> @ViewBag.ca7
                        </div>
                    </div>
                </div>
                <div class="row">
                    <p>Chọn ca thi ngày 16/06:</p>
                </div>
                <div class="row w3-large">
                    <div class="col-md-6">
                        <div class="row w3-margin-bottom">
                            <input class="col-md-1" type="radio" name="caThi" value="Ca8">
                            <label class="col-md-11" for="html">Ca 8 (Thời gian: 8:00 AM - 8:50 AM ngày 16/06)</label> @ViewBag.ca8
                        </div>
                        <div class="row w3-margin-bottom">
                            <input class="col-md-1" type="radio" name="caThi" value="Ca9">
                            <label class="col-md-11" for="html">Ca 9 (Thời gian: 9:00 AM - 9:50 AM ngày 16/06)</label> @ViewBag.ca9
                        </div>
                        <div class="row w3-margin-bottom">
                            <input class="col-md-1" type="radio" name="caThi" value="Ca10">
                            <label class="col-md-11" for="html">Ca 10 (Thời gian: 10:00 AM - 10:50 AM ngày 16/06)</label> @ViewBag.ca10
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row w3-margin-bottom">
                            <input class="col-md-1" type="radio" name="caThi" value="Ca11">
                            <label class="col-md-11" for="html">Ca 11 (Thời gian: 13:00 PM - 13:50 PM ngày 16/06)</label> @ViewBag.ca11
                        </div>
                        <div class="row w3-margin-bottom">
                            <input class="col-md-1" type="radio" name="caThi" value="Ca12">
                            <label class="col-md-11" for="html">Ca 12 (Thời gian: 14:00 PM - 14:50 PM ngày 16/06)</label> @ViewBag.ca12
                        </div>
                        <div class="row w3-margin-bottom">
                            <input class="col-md-1" type="radio" name="caThi" value="Ca13">
                            <label class="col-md-11" for="html">Ca 13 (Thời gian: 15:00 PM - 15:50 PM ngày 16/06)</label> @ViewBag.ca13
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row form-group col-md-2">
            <input type="submit" value="Đăng ký" class="btn btn-primary" />
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
